#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	curl -sfL https://goreleaser.com/static/run | bash -s -- build --clean --single-target --skip-validate --snapshot

override_dh_compress:
	dh_compress --exclude=README.md
